@use 'variables' as *;

.body {
  display: flex;
  justify-content: center;
  background-color: $color-light-xl;

  // make page account for scroll
  // on desktop mode
  width: 100vw;
  overflow-x: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--scroll-disabled {
    overflow: hidden;
  }
}

// Header
.header-wrapper {
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: $max-width;
    padding-right: 40px;
    padding-left: 40px;

    @media (max-width: $ss-large-light) {
      padding-right: 30px;
      padding-left: 30px;
    }

    @media (max-width: $ss-medium-light) {
      height: 60px;
      padding-right: 53px;
      padding-left: 10px;
    }
  }

  &__burger {
    display: none;

    @media (max-width: $ss-medium-light) {
      position: absolute;
      right: 53px;
      display: flex;
    }
  }
}

.header--absolute {
  position: absolute;
  top: 60px;

  @media (max-width: $ss-large-light) {
    top: 30px;
  }
}

// Main
.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    &--light {
      background-color: $color-light-xl;
    }

    &--dark {
      background-color: $color-light-l;
    }

    &--gradient {
      background: url('../../../assets/images/main/noise_transparent@2x.png'),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
        linear-gradient(0deg, #211f20, #211f20);
    }
  }
}

.section {
  width: 100%;
  max-width: $max-width;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: $ss-medium) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: $ss-medium-light) {
    padding-top: 42px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* section Start-screen */
.section--start {
  margin-bottom: 0;
  padding-top: 180px;
  // background: url('../../../assets/images/main/noise_transparent@2x.png'),
  //   radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
  //   linear-gradient(0deg, #211f20, #211f20);

  @media (max-width: $ss-large-light) {
    padding-top: 150.5px;
    // height of new header 60px
    // + its top offset 30px
    // + actual padding of section 60px
  }

  @media (max-width: $ss-medium-light) {
    padding-top: 149.5px;
  }

  &__container {
    display: flex;
    gap: 3%;

    @media (max-width: $ss-large-light) {
      position: relative;
      flex-direction: column;
      row-gap: 100px;
      align-items: center;
    }

    @media (max-width: $ss-medium) {
      row-gap: 99px;
    }

    @media (max-width: $ss-medium-light) {
      row-gap: 106px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 164px;

    @media (max-width: $ss-large-light) {
      max-width: 650px;
      padding-top: 0;
      padding-right: 7.995%; // 55px
      padding-left: 7.995%; // 55px
    }

    @media (max-width: $ss-medium) {
      max-width: 570px;
      padding-right: 7.77%; // 55px
      padding-left: 7.77%; // 55px
    }

    @media (max-width: $ss-medium-light) {
      align-items: center;
      padding: 0;
      text-align: center;
    }
  }

  &__heading {
    max-width: 40rem; // To make proper line-break
    margin-bottom: 42px;
    margin-left: 0;
    letter-spacing: normal;

    @media (max-width: $ss-medium-light) {
      margin-bottom: 41px;
      padding-right: 7%;
      padding-left: 7%;
      font-size: $fs-h-3-mobile;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }

  &__subheading {
    margin-bottom: 41px;
    color: $color-dark-s;

    @media (max-width: $ss-medium) {
      margin-bottom: 41.5px;
    }

    @media (max-width: $ss-medium-light) {
      margin-bottom: 42px;
      max-width: 320px;
    }
  }

  &__button {
    width: 207px;
    height: 52px;
    padding: 0;

    @media (max-width: $ss-large-light) {
      align-self: center;
    }
  }

  &__figure {
    margin: 0;

    @media (max-width: $ss-large-light) {
      align-self: flex-end;
      max-width: 569px;
    }

    @media (max-width: $ss-medium-light) {
      align-self: center;
      max-width: 260px;
    }

    @media (max-width: $ss-small) {
      align-self: flex-end;
    }
  }

  &__img {
    display: block;

    @media (max-width: $ss-large-light) {
      max-width: 569px;
      height: auto;
    }

    @media (max-width: $ss-medium-light) {
      width: 100%;
    }
  }
}

/* section About */
.section--about {
  margin-bottom: 100px;

  @media (max-width: $ss-medium) {
    display: flex;
    justify-content: center;
  }

  @media (max-width: $ss-medium-light) {
    margin-bottom: 42px;
  }

  &__container {
    display: flex;
    gap: 14%; /* 120px */
    padding-right: 14.584%; /* 175px */
    padding-left: 14.584%; /* 175px */

    @media (max-width: $ss-large-light) {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 80px;

      padding-right: 25%;
      padding-left: 25%;
    }

    @media (max-width: $ss-medium) {
      max-width: 430px;
      padding-right: 0;
      padding-left: 0;
    }

    @media (max-width: $ss-medium-light) {
      row-gap: 40px;
    }
  }

  &__figure {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    max-width: 300px;
    max-height: 408px;
    margin: 0;

    @media (max-width: $ss-medium-light) {
      max-width: 260px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__content {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 14px 0;

    @media (max-width: $ss-medium) {
      gap: 25px;
      padding: 0;
    }

    @media (max-width: $ss-medium-light) {
      gap: 0;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__heading {
    padding-right: 1.72em;

    @media (max-width: $ss-large-light) {
      width: 370px;
      height: 90px;
      padding: 0;
    }

    @media (max-width: $ss-medium-light) {
      align-self: center;
      max-width: 270px;
      margin-bottom: 25px;
      height: auto;
      text-align: center;
    }
  }

  &__subheading {
    color: $color-dark-xl;

    @media (max-width: $ss-medium-light) {
      text-align: justify;
    }
  }

  &__subheading:nth-child(2) {
    @media (max-width: $ss-medium-light) {
      margin-bottom: 22px;
    }
  }
}

/* section Our friends */
.section--friends {
  padding-bottom: 100px;

  @media (max-width: $ss-medium-light) {
    padding-bottom: 42px;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__button {
    // Adjust slightly
    width: 261px;
    padding-left: 2.515em;
    padding-right: 2.51em;
  }

  &__heading {
    width: 100%;
    margin-bottom: 58px;
    padding-right: 33.334%; // 400px
    padding-left: 33.334%; // 400px
    text-align: center;
    white-space: nowrap;

    @media (max-width: $ss-large-light) {
      padding: 0;
    }

    @media (max-width: $ss-medium) {
      padding-right: 21.753%; // 154px
      padding-left: 21.753%; // 154px
      margin-bottom: 59.5px;
    }

    @media (max-width: $ss-medium-light) {
      max-width: 400px;
      margin-bottom: 42px;
      padding: 0;
    }
  }

  &__slider {
    align-self: stretch;
    margin-bottom: 60px;

    @media (max-width: $ss-medium-light) {
      margin-bottom: 42px;
    }
  }
}

/* section Help  */
.section--help {
  padding-bottom: 100px;

  @media (max-width: $ss-medium-light) {
    padding-bottom: 41px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    @media (max-width: $ss-medium-light) {
      row-gap: 42px;
    }
  }

  &__heading {
    max-width: 310px;
    text-align: center;

    @media (max-width: $ss-medium-light) {
      max-width: 223px;
    }
  }
}

/* section Donation */
.section--donation {
  padding-bottom: 100px;

  @media (max-width: $ss-medium-light) {
    padding-bottom: 42px;
  }

  &__container {
    display: flex;
    align-items: center;
    column-gap: 3.3%; // 30px
    padding-right: 11.92%; // 143px
    padding-left: 11.92%; // 143px

    @media (max-width: $ss-large-light) {
      flex-direction: column-reverse;
      row-gap: 60px;
    }

    @media (max-width: $ss-medium) {
      row-gap: 59px;
    }

    @media (max-width: $ss-medium-light) {
      row-gap: 41.5px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__img {
    @media (max-width: $ss-medium) {
      // To adjusct precisely
      padding-right: 1px;
    }

    @media (max-width: $ss-medium-light) {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $ss-small) {
      max-width: 260px;
      height: auto;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $ss-large-light) {
      max-width: 380px;
      height: 282px;
    }

    @media (max-width: $ss-medium-light) {
      align-items: center;
    }
  }

  &__heading {
    @media (max-width: $ss-medium-light) {
      text-align: center;
    }

    &--h3 {
      padding-right: 21.124%; // 80px
      margin-bottom: 17px; // Adjust to fit

      @media (max-width: $ss-large-light) {
        width: 300px;
        padding: 0;
      }

      @media (max-width: $ss-medium) {
        margin-bottom: 18px;
      }

      @media (max-width: $ss-medium-light) {
        max-width: 220px;
        margin-bottom: 21px; // Adjust to fit
        text-align: center;
      }
    }

    &--h5 {
      margin-bottom: 18.5px; // Adjust to fit

      @media (max-width: $ss-medium-light) {
        width: max-content;
        margin-bottom: 23px; // Adjust to fit
        text-align: center;
        letter-spacing: normal;
      }
    }
  }

  &__text {
    font-style: italic;
    font-size: $fs-paragraph-s;
    line-height: 150%;
    color: $color-dark-m;

    @media (max-width: $ss-medium-light) {
      max-width: 280px;
      text-align: justify;
    }
  }

  &__credit-card {
    margin-bottom: 20px;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  background: url('../../../assets/images/main/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);

  &__container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: $max-width;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;

    @media (max-width: $ss-large-light) {
      // justify-content: space-around;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      padding-top: 30px;
      padding-right: calc(30px + 4.429%);
      padding-left: calc(30px + 4.429%);
    }

    @media (max-width: $ss-medium) {
      justify-items: start;
      column-gap: 39px;
      row-gap: 64px; // should be 65px but whatever
    }

    @media (max-width: $ss-medium-light) {
      grid-template-columns: 1fr;
      justify-items: center;

      row-gap: 39px; // should be 65px but whatever
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__img {
    display: block;
    max-width: 300px;

    @media (max-width: $ss-large-light) {
      grid-column: span 2; 
      justify-self: center;
    }

    @media (max-width: $ss-medium-light) {
      grid-column: auto; 
      max-width: 260px;
    }
  }
}
