@use 'variables' as *;

.body {
  display: flex;
  justify-content: center;
  background-color: $color-light-xl;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    width: 100%;
  }
}

// Header
.header {
  width: 100%;
  padding-right: calc(40px - 17px); // account for scrollbar on desktop(17px)
  padding-left: 40px;
  display: flex;
  justify-content: space-between;

  &--pets {
    max-width: $max-width;
    position: fixed;
    top: 0;

    padding-top: 30px;
    padding-bottom: 30px;

    background-color: $color-light-xl;
  }
}

// Main
.main {
  flex-grow: 1;
}

.section {
  padding-top: 80px;
  padding-right: calc(40px - 17px); // account for scrollbar on desktop(17px)
  padding-left: 40px;

  &--dark {
    background-color: $color-light-l;
  }
}

.section--pets {
  padding-top: calc(120px + 80px); // usual padding + height of header
  padding-bottom: 100px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
  }

  &__heading {
    text-align: center;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

// Footer
.footer {
  padding-top: 40px;
  padding-right: calc(40px - 17px); // account for scrollbar on desktop(17px)
  padding-left: 40px;
  background: url('../../../assets/images/main/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);

  @media (max-width: $ss-large-light) {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $ss-large-light) {
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__img {
    display: block;
    max-width: 300px;
  }
}
