@use 'variables' as *;

.body {
  display: flex;
  justify-content: center;
  background-color: $color-light-xl;

  // make page account for scroll
  // on desktop mode
  width: 100vw;
  overflow-x: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    width: 100%;
  }
}

// Header
.header-wrapper {
  width: 100vw;
}

.header {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $ss-large-light) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: $ss-medium-light) {
    padding-right: 53px;
    padding-left: 10px;
  }

  &__burger {
    display: none;

    @media (max-width: $ss-medium-light) {
      display: flex;
    }
  }
}

.header--pets {
  width: inherit;
  max-width: $max-width;
  position: fixed;
  top: 0;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $color-light-xl;
}

// Main
.main {
  flex-grow: 1;
}

.section {
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: $ss-medium) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: $ss-medium-light) {
    padding-top: 42px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--dark {
    background-color: $color-light-l;
  }
}

.section--pets {
  padding-top: calc(120px + 80px); // own padding + height of header
  padding-bottom: 100px;

  @media (max-width: $ss-medium) {
    padding-bottom: 76.5px; // should be 76px
  }

  @media (max-width: $ss-medium-light) {
    padding-top: calc(120px + 42px); // own padding + height of header
    padding-bottom: 42.5px; // should be 42px
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;

    @media (max-width: $ss-medium) {
      row-gap: 29px; // should be 30px according to figma
    }

    @media (max-width: $ss-medium-light) {
      row-gap: 41px; // should be 42px according to figma
    }
  }

  &__heading {
    text-align: center;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    padding-top: 14px;
    padding-bottom: 15px;

    @media (max-width: $ss-large-light) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    @media (max-width: $ss-medium) {
      margin-bottom: 10px;
    }

    @media (max-width: $ss-medium-light) {
      grid-template-columns: 1fr;
      margin-bottom: 0;
    }

    // Hide every card after 6th
    // on screens <= 1279px
    & > :nth-child(n + 7) {
      @media (max-width: $ss-large-light) {
        display: none;
      }
    }

    // Hide every card after 3th
    // on screens <= 1279px 
    & > :nth-child(n + 4) {
      @media (max-width: $ss-medium-light) {
        display: none;
      }
    }
  }
}

// Footer
.footer {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background: url('../../../assets/images/main/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);

  @media (max-width: $ss-large-light) {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: $ss-medium-light) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $ss-large-light) {
      justify-content: space-around;
      flex-wrap: wrap;
    }

    @media (max-width: $ss-medium) {
      row-gap: 64.5px; // should be 65px but whatever
    }

    @media (max-width: $ss-medium-light) {
      row-gap: 39px; // should be 65px but whatever
    }
  }

  &__img {
    display: block;
    max-width: 300px;

    @media (max-width: $ss-medium-light) {
      max-width: 260px;
    }
  }
}
